<%= form_for @user, url: login_path, method: :post do |f| %>
  <h1>Login</h1>
  <div class="form-input-material">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-input-material">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "log in" %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>