<%= form_with model: @user, url: login_path, method: :post do |f| %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="title-block">
  <div class="login-form">
    <h1 class="login-title">Login</h1>

    <div class="facebook-container">
      <%= link_to '/auth/facebook', method: :post, class: "auth-prompt" do %>
        <i class="fa fa-facebook"></i>
        <span>Log in with Facebook</span>
      <% end %>
    </div>
    <div class="google-container">
      <%= link_to '/auth/facebook', method: :post, class: "auth-prompt" do %>
        <i class="fa"><img src="https://img.icons8.com/color/48/000000/google-logo.png" class="google-icon"/></i>
        <span>Log in with Google</span>
      <% end %>
    </div>

    <p class="login-options">OR</p>
    
    <div class="form-input-material">
      <%= f.text_field :name, placeholder: "Username" %>
    </div>
    <div class="form-input-material">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="buttons">
      <%= f.submit "log in", class: "login-button" %><br>
      <div class="userlog-link">
        <%= link_to 'sign up', new_user_path, class: "userlog-anchor" %>
      </div>
    </div>
  </div>
  
  <div class="title-desc">
    <h1 class="budget-retriever-title">Budget Retriever</h1>
  <div>

</div>
<% end %>