<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "All Record"} %>

<div class="data-layout">
    <div class="content-container">
    <% @bills.each do |bill| %> 
        <div class="bill-container">
            <div class="ebc date_space">
               <p><%= bill.month_id %>/<%= bill.year %></p>
            </div>

            <div class="ebc category_space">
                <p><%= idToCategoryName(bill.category_id) %></p>
                <p><%= idToCategoryName(bill.subcategoryid) %></p>
                <p><%= idToCategoryName(bill.further_subcategoryid) %></p>
            </div>
            
            <div class="ebc edit-delete-buttons">
                <%= link_to "Edit", edit_account_bill_path(@account, bill), class: "edit-delete-btn" %>
                <%= link_to "Delete", account_bill_path(@account, bill), method: "delete", class: "edit-delete-btn" %>
            </div>

            <div class="ebc detail">
                <p class="bill-price"><%= "$#{bill.price}" %></p>
                <p class="bill-detail"><%= bill.detail %></p>
            </div>
        </div>
    <% end %>
    </div>
</div>