<h1>Budget</h1>

<%= form_with model:@bill do |form| %>
    <%= form.label :month %>
    <%= form.collection_select :month_id, @months, :id, :name %>
    <%= form.label :year %>
    <%= form.text_field :year %><br>

    <%= form.label :category %>
    <%= form.collection_select :category_id, @category_parent_array, :id, :name, {prompt: "Select Category"} %>
    <%= form.label :subcategory %>
    

    <%= form.submit %>
<% end %>

<%= javascript_pack_tag "bill" %>