<h2>Added Record</h2>

<div class="show_record">
  <h3>Date: </h3>
  <%= @bill.month_id %><span> / </span><%= @bill.year %><br>
  <h3>Category</h3> 
  <%# add category link %>
  <%= idToCategoryName(@bill.category_id) %>
  <%= idToCategoryName(@bill.subcategory_id) %>
  <%= idToCategoryName(@bill.further_subcategory_id) %>
  <h3>Details</h3>
  <span>Price: </span>
  <%= "$#{@bill.price}" %><br>
  <span>Detail: </span>
  <%= @bill.detail %>
<div>