<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "Added Record"} %>

<div class="data-layout">
  <%= render "record_options" %>
  <div class="show_record">
    <div class="price-receipt">
      <%= "$#{@bill_param.price}" %>
    </div>

    <div class="receipt-record">
      <p class="receipt-title">Date</p>
      <%= @bill_param.month_id %><span> / </span><%= @bill_param.year %><br>
    </div>
    <div class="receipt-record">
      <p class="receipt-title">Category</p>
      <%= idToCategoryName(@bill_param.category_id) %>
      <%= idToCategoryName(@bill_param.subcategoryid) %>
      <%= idToCategoryName(@bill_param.further_subcategoryid) %>
    </div>
    <div class="receipt-record">
      <p class="receipt-title">Detail</p>
      <%= @bill_param.detail %>
    </div>
  <div>
</div>

<%= render "update_delete" %>