<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "Table Total"} %>

<div class="data-layout">
    <div class="total-table">
        <table class="table-all">
            <% @category_parent_array.each do |category| %>
            <tr>
                <th class="category-name-columns"><%= category.name %></th>
                <td>
                    <table>
                        <th class="sub-cate-title">Subcategory</th>
                        <th class="sub-cate-title">Further Subcategory</th>
                        
                        <% getChildCategories(category.id).each do |subcategory| %>
                        <tr>
                            <th class="sub-cate-name"><%= subcategory.name %></th>
                            <td class="sub-cate-name sub-cate-width">
                                <table class="sub-cate-table">
                                    <th></th>
                                    <% @months.each do |month| %>
                                    <th><%= month.id %></th>
                                    <% end %>
                                    <% getChildCategories(subcategory.id).each do |fur| %>
                                        <tr>
                                            <th class="fur-sub-cate-titles"><%= fur.name %></th>
                                            <% @further_subcategory_total[:"#{fur.name}"].each do |       month_total| %>
                                            <td>$<%= month_total %></td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                    <tr class="sub-cate-total">
                                        <th class="sub-cate-total"><%= subcategory.name %> Total</th>
                                        <% @subcategory_total[:"#{subcategory.name}"].each do |       month_total| %>
                                            <td>$<%= month_total %></td>
                                        <% end %>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <% end %>
                    </table>
                </td>
            </tr>
            <tr class="cate-total">
                <td></td>
                <td>
                    <table>
                    <th class="sub-cate-name"><%= category.name %> Total</th>
                    <td class="cate-month-total">
                        <table class="table-size">
                            <% @months.each do |month| %>
                            <th><%= month.id %></th>
                            <% end %>
                            <tr>
                            <% @category_total[:"#{category.name}"].each do |month_total| %>
                                <td>$<%= month_total %></td>
                            <% end %>
                            </tr>
                        </table>
                    </td>
                    </table>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>