<%= form_with model: @category, url: update_category_account_categories_path, method: "patch" do |f| %>
    <div class="edit_table visibilityOn">
    </div>
<% end %>

<div class="category_table visibilityOn">
    <table class="main_category_table">
        <tr>
            <th colspan="10">Main Category</th>
        </tr>
        <tr>
            <% @category_parent_array.each do |main| %>
                <td id=<%= main.id %>><%= main.name %></td>
            <% end %>
        </tr>
    </table>

    <table class="subcategory_table">
        <tr>
            <th colspan="10" class="subcategory_title">Subcategory</th>
        </tr>
        <% @category_parent_array.each do |main| %>
        <% getChildCategories(main.id).each do |sub| %>
            <tr>
                <th id=<%= main.id %> class=<%= category_color(main.name)%>><%= main.name %></th>
                <th scope="rowgroup" id=<%= sub.id %> class="subcategory_title"><%= sub.name %></th>
                <% getChildCategories(sub.id).each do |grand_child| %>
                    <td scope="row" id=<%= grand_child.id %>><%= grand_child.name %></td>
                <% end %>
            </tr>
        <% end %>
        <% end %>
    </table>
</div>