<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "Category"} %>

<div class="data-layout">
    <button id="all_list_button">All Category</button>
    <button id="add_button">ADD</button>
    <button id="edit_button">EDIT</button>
    <button id="delete_button">DELETE</button>

    <%= render "add_form" %>
    <%= render "edit_form" %>

    <%= render "category_list" %>
</div>

<%= stylesheet_link_tag "categories" %>
<%= javascript_pack_tag "category" %>