<h1>Create Account</h1>

<div class="account_box">
<%= form_with model: @account do |f| %>
  <%= f.label :create_account %><br>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit :create %>
<% end %>

<p id="space-or">OR</p>

<div class="account_box">
<%= form_with model: @account do |f| %>
  <%= f.label :select_account %><br>
  <%= f.collection_select :account_id, @accounts, :id, :name, {prompt: "---"} %>
  <%= f.submit :select %>
<% end %>
</div>